/* -------------------------------------------------------- *\
                        Background
\* -------------------------------------------------------- */
.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #aaaaaa;
}


/* -------------------------------------------------------- *\
                        Width
\* -------------------------------------------------------- */
.w-80px{
    width: 80px;
}

.w-275px {
    width: 275px;
}

.w-100 {
    width: 100%;
}

/* -------------------------------------------------------- *\
                        Heigth
\* -------------------------------------------------------- */
.h-50px {
    height: 50px;
}

/* -------------------------------------------------------- *\
                        Calculatrice
\* -------------------------------------------------------- */
.calc-button {
    width: 100%; 
    height: 100%; 
    font-size: 16px;
}